<div class="flex flex-col sm:flex-row gap-4 justify-center w-full">
    <a
        [attr.href]="item?.linkUrl !== undefined ? item?.linkUrl : null"
        target="_blank"
        class="flex justify-center items-center"
    >
        <img [src]="imgBlob" class="max-w-52 max-h-40 object-cover" />
    </a>
    <div class="flex flex-col gap-2">
        <a
            [attr.href]="item?.linkUrl !== undefined ? item?.linkUrl : null"
            target="_blank"
            class="flex flex-col gap-1 w-fit"
        >
            <p
                [class.underline]="item?.linkUrl"
                class="text-center text-secondary"
            >
                {{ item?.linkText }}
            </p>
        </a>
        <p class="font-body text-lg max-w-[600px]">
            {{ item?.body }}
        </p>
    </div>
</div>
