@tailwind base;
@tailwind components;
@tailwind utilities;

/* You can add global styles to this file, and also import other style files */
@layer base {
    @font-face {
        font-family: "Suse";
        font-style: normal;
        font-weight: 400;
        src: url("../assets/fonts/SUSE-Light.ttf") format("truetype");
    }

    @font-face {
        font-family: "Lalezar";
        font-style: normal;
        font-weight: 400;
        src: url("../assets/fonts/Lalezar-Regular.ttf") format("truetype");
    }

    :root {
        --nav-width: 200px;
        --mobile-nav-width: 40px;
    }

    html,
    body {
        height: 100%;
        color: #eeeeee;
    }

    .page {
        @apply flex flex-col;
    }

    .nav-padding {
        @apply pl-mobile-nav-width md:pl-nav-width;
    }

    .page-header {
        @apply sticky top-4 pr-5 text-right font-body text-xl text-secondary;
    }
}
