@tailwind base;
@tailwind components;
@tailwind utilities;

/* You can add global styles to this file, and also import other style files */
@layer base {
    @font-face {
        font-family: "Suse";
        font-style: normal;
        font-weight: 400;
        src: url("../assets/fonts/SUSE-Light.ttf") format("truetype");
    }

    @font-face {
        font-family: "Lalezar";
        font-style: normal;
        font-weight: 400;
        src: url("../assets/fonts/Lalezar-Regular.ttf") format("truetype");
    }

    html,
    body {
        height: 100%;
    }

    .page {
        @apply flex flex-col grow;
    }
}
